# sbt
# (may want to keep parts of 'project')
bin/
project/project
project/target
target/
build/
null/

# eclipse
build
.classpath
.project
.settings
.worksheet

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main

#general
*.class

#metals
.metals/
project/metals.sbt
.vscode/
.bloop/
.scalafmt.conf
