# sbt
# (may want to keep parts of 'project')
bin/
project/project
project/target
target/
target:out/
build/
null/
out/
.bsp/

# eclipse
build
.classpath
.project
.settings
.worksheet

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# vscode
*.vscode

# mac
.DS_Store

# other?
.history
.scala_dependencies
.cache
.cache-main
*.swp

**/.antlr/

src/main/antlr4/.antlr


#general
*.class

#metals
.metals/
project/metals.sbt
.vscode/
.bloop/
.scalafmt.conf
